body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Verdana, Sans-Serif;
}

.nav, .defTab, .definition, #condExercises, #x1 {
  border-color: #fff;
}

.x1Choice, #effect {
  background-color: #fff;
  color: #000;
}

#question{
color: #000;
}
#intro-container{
color: #000;
}
