body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Verdana, Sans-Serif;
}

.nav, .defTab, .definition, #condExercises, .xDrop, .yDrop {
  border-color: #fff;
}

.xChoice, #effect {
  background-color: #fff;
  color: #000;
}

#question{
color: #000;
}
#intro-container{
color: #000;
}
