body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Verdana, Sans-Serif;
}
.nav, .defTab, .definition {
  border-color: #fff;
}

#question{
color: #000;
}
#intro-container{
color: #000;
}
