body {
  background-color: #000;
  color: #e6e600;
  font-family: "Courier New", Courier, monospace;
}

.nav, .defTab, .definition, #condExercises, #x1 {
  border-color: #e6e600;
}

.x1Choice, #effect {
  background-color: #e6e600;
  color: #000;
}
