body {
  background-color: #000;
  color: #0f0;
  font-family: "Courier New", Courier, monospace;
}

.nav, .defTab, .definition, #condExercises, .xDrop, .yDrop {
  border-color: #0f0;
}

.xChoice, #effect {
  background-color: #0f0;
  color: #000;
}
