html {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  font-family: Arial, Verdana, Sans-Serif;
  background-color: #fff;
}

.mainContent {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.mainHeader {
    position: relative;
    top: 0;
    width: inherit;
}

div {
  margin: 0.3em;
}

input[type='text'], select {
  border: 1px solid #aaa;
}

input[type='submit'] {
    margin-right: 1em;
}

#codeImg {
  position: absolute;
  top: 9em;
  left: 50%;
  margin-bottom: 1em;
}

.formWrapper {
    width: 40%;
    margin: 1em 0;
    padding: 0.5em;
    background-color: #ccc;
    border-radius: 0.3em;
}

.field {
    margin: 0.5em 0;
}

.field label {
    display: inline-block;
    width: 6em;
}

.submitDiv {
    margin-top: 1em;
}

/* homepage.html */
.welcomeMsg {
    position: relative;
    top: 0;
    left: 0;
    width: 45%;
    height: 3em;
}

.nav {
    position: relative;
    height: 3em;
    width: 50%;
    top: -3em;
    left: 50%;
    border: 1px solid #000;
    border-radius: 5px;
}

.logout {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

.delete {
    position: absolute;
    right: 5em;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

#theme {
    position: absolute;
    right: 17em;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

/* text styles */
.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

.note {
  font-size: 0.85em;
}

#question{
color: #000;
}