html {
  margin: 0;
  padding: 0;
  font-size: 14px;
}

body {
  font-family: Arial, Verdana, Sans-Serif;
  background-color: #fff;
}

.mainContent {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

.mainHeader {
    position: relative;
    top: 0;
    width: inherit;
}

div {
  margin: 0.3em;
}

input[type='text'], select {
  border: 1px solid #aaa;
}

input[type='submit'] {
    margin-right: 1em;
}

#codeImg {
  position: absolute;
  top: 9em;
  left: 50%;
  margin-bottom: 1em;
}

.formWrapper {
    width: 40%;
    margin: 1em 0;
    padding: 0.5em;
    background-color: #ccc;
    border-radius: 0.3em;
}

.field {
    margin: 0.5em 0;
}

.field label {
    display: inline-block;
    width: 6em;
}

.submitDiv {
    margin-top: 1em;
}

/* homepage.html */
.welcomeMsg {
    position: relative;
    top: 4em;
    left: 0;
    width: 45%;
    height: 3em;
}

.nav {
    position: relative;
    height: 3em;
    width: 100%;
    top: -3em;
    border: 1px solid #000;
    border-radius: 5px;
}

.logout {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

.delete {
    position: absolute;
    right: 6em;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

.change {
    position: absolute;
    right: 17em;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

#theme {
    position: absolute;
    right: 31em;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

.return {
    position: absolute;
    right: 49em;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0;
}

/* changePassword */
#changePasswordButton {
    position: relative;
    top: 4em;
}

.goback {
    position: relative;
    top: 4em;
}

/* basics1 */
.defContainer {
    position: relative;
}

.defTab {
    width: 8em;
    height: 2em;
    margin: 0;
    float: left;
    border: 1px solid black;
    border-radius: 5px 5px 0 0;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
}

.definition {
    position: relative;
    width: 47.6em;
    height: 7em;
    margin: 0;
    padding: 0.5em;
    clear: both;
    border: 1px solid black;
}

.definition > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* conditionals */
#condExercises {
  position: relative;
  width: 100%;
  height: 30em;
  margin: 0 auto;
  border: 1px solid #000;
}

#ex1, #ex2, #ex3 {
  position: relative;
  width: 100%;
  height: 100%;
}

.cond {
  height: 4em;
  clear: both;
}

.choices {
  clear: both;
}

.xDrop, .yDrop, .compare {
  height: 4em;
  float: left;
  line-height: 4em;
}

.xDrop, .yDrop {
  width: 4em;
  border: 1px solid #000;
  text-align: center;
}

.xChoice {
  width: 2.5em;
  height: 2.5em;
  float: left;
  line-height: 2.5em;
  text-align: center;
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

.condResult {
  clear: both;
  position: relative;
  top: 9em;
  margin-top: 1em;
}

/* Commands */
#comm1, #comm2, #comm3 {
	position: relative;
 	width: 100%;
  	height: 400px;
  	margin: 0 auto;
  	border: 1px solid #000;
}

#effect {
	width: 100px;
  	height: 50px;
  	float: left;
  	line-height: 4em;
  	text-align: center;
  	background-color: #000;
  	color: #fff;
}

/* text styles */
.b {
  font-weight: bold;
}

.i {
  font-style: italic;
}

.u {
  text-decoration: underline;
}

.note {
  font-size: 0.85em;
}

/* other handy styles */
.noDisplay {
  display: none;
}

#question{
color: #000;
}
